# コンピュータの言語2025：課題4

文字列とリストとその応用

## 1. 文字列

Python の文字列型データは，情報を調べたり操作したりするための便利な仕組み（関数とメソッド）があります．今回はそれについていくつか紹介します．関数とメソッドは同じような機能を持っていますが，データに対して与える形が異なります．
* __関数__：```関数(データ)``` の形で，データを受け取って何かの処理をして，何かの値を返す
* __メソッド__： ```データ.メソッド``` の形で，データに対して何かの処理をして，何らかの値を返す

In [ ]:
# 例となる文字
a = "私の部屋はとても広い"
print(a)

### 1.1 文字列の長さ

* 関数 ```len(文字列)``` は文字列の長さを返します．

In [ ]:
len(a)

### 1.2 置き換え
* メソッド ```replace(A,B)``` は文字列Aを文字列Bに置き換えます

In [ ]:
b = a.replace("私","あなた")
print(b)

In [ ]:
c = a.replace("広い","狭い")
print(c)

#### やってみよう
文字列 "kadai.txt" を "kadai.ipynb" に置き換えてみてください．

In [51]:
filename = "kadai.txt"
filename_b = filename.replace("kadai.txt","kadai.ipynb")
print(filename_b)

kadai.ipynb

### 1.3 文字数のカウント

In [52]:
d = "あの犬，ちゃうちゃうちゃう？"         # あの犬はチャウチャウという犬種の犬でしょうか？
e = "ちゃうちゃう，ちゃうちゃうちゃうんちゃう．" # いいえ，違います．そのいぬはチャウチャウではないと思います．
print(d.count("ちゃう"))
print(e.count("ちゃう"))

3
6

### 1.4 文字の位置

文字列は最初の文字を０番とする番号がついています． ```index``` は，文字列のある場所を教えてくれます．

|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|
|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|
|人|生|は|楽|で|は|な|い|。|そ|こ|が|面|白|い|。|

In [53]:
f = "人生は楽ではない。そこが面白い。"
f.index("楽")

3

ある番号にある文字の場所は ```[番号]``` で参照することができます．

In [ ]:
f[12]

この番号を利用して文字列の抜き出しをすることができます．

```
文字列[番号A:番号B]
```
とすると，文字列のA番から___B-1___ 番までの文字列を取り出すことができます．

In [ ]:
f[3:8]

#### やってみよう
文字列 f から「面白い」の文字列を取り出す命令を書いてください．

### 1.5 文字列の比較

文字列が同じかどうかは ```==``` で判定することができます．

In [54]:
x = "apple"
y = "orange"
z = "apple"

print(x==y)
print(x==z)

False
True

文字列が含まれているかどうかは， ```in``` を使って調べることができます．

In [55]:
x = '難しい'
y = '易しい'
answer = "この問題はとても難しい"

print(x in answer)
print(y in answer)

True
False

## 練習1

"反省をしていると申し上げましたが、反省しているんです。ただ、これは私の問題だと思いますが、反省をしていると言いながら、反省をしている色が見えない。というご指摘は、私自身の問題だと反省をしております。（小泉進次郎）" という文字列について，以下の命令をかいてください．

In [56]:
p = "反省をしていると申し上げましたが、反省しているんです。\
ただ、これは私の問題だと思いますが、反省をしていると言いながら、\
反省をしている色が見えない。というご指摘は、私自身の問題だと反省をしております。（小泉進次郎）"

# 文字数は全部で何文字？

mojisu = len(p)
print(mojisu)

# 「反省」は何回ある？

num_hansei = p.count("反省")
print(num_hansei)

# 「私」を「あなた」に置き換えてください．

okikae_p = p.replace("私","あなた")
print(okikae_p)

106
5
反省をしていると申し上げましたが、反省しているんです。ただ、これはあなたの問題だと思いますが、反省をしていると言いながら、反省をしている色が見えない。というご指摘は、あなた自身の問題だと反省をしております。（小泉進次郎）

## 2. リスト

これまで，「数値型（整数・浮動小数点数）」「文字列型」「真偽型」などの型を扱ってきましたが，これらの基本的なデータを書類棚のように一つの場所に納めて扱うデータ型に __リスト__ があります．リストは柔軟に多様なデータをひとまとめに扱うことができるため． Python プログラムの中で，非常に多くの場面で登場します．

リストは ```[   ]``` に囲まれたもので定義され，その中に様々なものを入れることができます．以下では，リストに含まれる一つ一つのデータを __要素__ と呼んでいます．

In [57]:
lisa = ["これ", "あれ", "それ", 1, True]

print(lisa)

['これ', 'あれ', 'それ', 1, True]

### 2.1 要素の数
* 要素の数は ```len``` という命令で調べることができます．

In [ ]:
len(lisa)

### 2.2 要素の位置と参照
* リストの要素は番号づけられており（０から始まります），```リスト[番号]``` で，その番号にある要素を参照することができ，```リスト.index(要素)``` で要素がある場所の番号を調べることができます．

* ```lisa = ["これ", "あれ", "それ", 1, True]``` の場合の番号と要素の対応関係は以下のようになっています．

|0|1|2|3|4|
|--|--|--|--|--|
|"これ"| "あれ"| "それ"| 1| True|

In [ ]:
lisa[1]

In [ ]:
lisa.index("これ")

### 2.3 要素の追加と削除
* リストに要素を追加するには，```append``` というメソッドを利用し，削除するには ```pop``` という命令を使います．

In [58]:
lisb = ["これ", "あれ", "それ"]

# 追加
lisb.append("どこ")  # リストの最後に"どこ"をくっつけます．
print(lisb)

# 削除
lisb.pop()          # リストの最後の要素を取り除きます
print(lisb)

['これ', 'あれ', 'それ', 'どこ']
['これ', 'あれ', 'それ']

リストの要素を追加，削除する命令には他にも[たくさんあります](https://docs.python.org/ja/3/tutorial/datastructures.html#more-on-lists)が，最初は必要最低限だけ覚えておき，必要になれば，調べて使うようにすればよいでしょう．

### 2.4 入れ替え

* リストの番号で指定することによって，要素を入れ替えることができます．

In [59]:
lisc = [1,3,9,7]
lisc[2] = 5       # 2番の要素を 5 にする
print(lisc)

[1, 3, 5, 7]

### 2.5 for と リスト

リストに含まれる要素について，様々な処理をしたい場合， for を使ってそれぞれの要素にアクセスすることがよくあります．そのためには番号を使う方法がよく使われます．

In [60]:
lisd = ["apple", "orange", "banana"]

num = len(lisd)
for i in range(num):
    print(lisd[i])

apple
orange
banana

別の方法として，```for``` 文の ```in``` にリストをおくと，リストの要素を一つずつ取り出すことができます．

In [61]:
lisd = ["apple", "orange", "banana"]

for i in lisd:
    print( i )

apple
orange
banana

この時， **i には要素そのものが入っている** ことに注意してください．

## 2.6 リスト内包表記で新しいリストを作成する

"1,2,3,4,5,6" という文字列データから [1,2,3,4,5,6] というリストを作成することを考えてみます．
文字列データを分割する方法として ```split``` という便利なメソッドがあります．

In [62]:
a = "1,2,3,4,5,6"
b = a.split(",")
print(b)

['1', '2', '3', '4', '5', '6']

結果を見るとわかるように，```split``` の後に与える文字で，文字列を区切ってくれます．
でも，区切られてできたデータは文字列からなるリストですので，それぞれの要素を整数型に変換する必要があります．

以前，文字列型から整数に変換する関数として ```int``` という関数を紹介しましたので，それをリストb の要素にそれぞれ適用して新しいリストを作成することにします．

In [63]:
c = []
for i in b:
    c.append(int(i))
print(c)

[1, 2, 3, 4, 5, 6]

基本的にはこれで新しいリストが作成されるのですが，リストの要素にそれぞれ何かの関数を適用して，新しいリストを作成したいとき，便利な書き方があります．それがリスト内包表記で上記の操作を以下のように１行で書くことができます．

In [64]:
e = [int(i) for i in b]
print(e)

[1, 2, 3, 4, 5, 6]

## 応用

ここまでで，「基本的なデータ型」，「分岐・繰り返し」，「リスト」について学びましたが，これでも多様な仕事をさせることができます．
今回はアンケート結果のデータ処理を例に練習してみましょう．

### 練習2

ある問題に対するアンケートでの感想が，以下のようにリストに入っています．この問題を「難しい」と感じた人を感想の中に '難' の字が含まれているかどうかで判断してみましょう．感想の中で難しいと感じた人の数と，その全体に対する割合を求めるプログラムを完成させてください．

```python
answer = ['この問題は難しかった', '超楽勝', 'たいへん難しかった', 'まだまだいける', 'くそ難しい', '難しすぎて死にたい', 'この問題を作った人をXしたい']
```

In [69]:
answer = ['この問題は難しかった', '超楽勝', 'たいへん難しかった', 'まだまだいける', 'くそ難しい', '難しすぎて死にたい', 'この問題を作った人をXしたい']

count = 0
for i in answer:
  if "難" in i:
    count = count + 1

print(count)

muzu_rate = count/len(answer) * 100
print(f'難しいと感じた人は全体の{muzu_rate}%です')

4
難しいと感じた人は全体の57.14285714285714%です

### 練習3

練習２の感想のリストから，「難」という字を含まない感想を抽出して，新しいリストを作成してください．

In [70]:
answer = ['この問題は難しかった', '超楽勝', 'たいへん難しかった', 'まだまだいける', 'くそ難しい', '難しすぎて死にたい', 'この問題を作った人をXしたい']

no_muzu = []   # 空のリストを作成しておく

for i in answer:
    if "難" not in i:
        no_muzu.append(i)

print(no_muzu)

['超楽勝', 'まだまだいける', 'この問題を作った人をXしたい']

### 練習4

ある問題に対するアンケートで，その問題の難しさを１０段階評価をしてもらった結果が，以下のようにリストに入っています．この問題の難しさに対する平均値を求めてください．

```
answer = [10, 4, 9, 9, 3, 5, 9, 9, 7, 8, 5, 4, 10, 2, 6, 7, 9, 0, 10, 3, 10, 3, 8, 10, 9, 5, 5, 9, 5, 8]
```

In [84]:
answer = [10, 4, 9, 9, 3, 5, 9, 9, 7, 8, 5, 4, 10, 2, 6, 7, 9, 0, 10, 3, 10, 3, 8, 10, 9, 5, 5, 9, 5, 8]

sum_all = 0
for i in answer:
  sum_all = sum_all + i

heikin = sum_all / len(answer)
print(f'難しさの平均は{heikin}です')

難しさの平均は6.7です

ちなみに，リストに含まれる数の和については， ```for``` を使わなくても，```sum(リスト)``` という組込みの関数によっても求めることができます．

In [83]:
lis = [1,2,3]
sum_all = sum(lis)
print(sum_all)

TypeError: 'float' object is not callable

この```sum```関数を使うと上のプログラムはどのように書くことができるでしょうか？

In [74]:
answer = [10, 4, 9, 9, 3, 5, 9, 9, 7, 8, 5, 4, 10, 2, 6, 7, 9, 0, 10, 3, 10, 3, 8, 10, 9, 5, 5, 9, 5, 8]

sum_all = 0
for i in answer:
  sum_all = sum(answer)

heikin = sum_all / len(answer)
print(f'難しさの平均は{heikin}です')

TypeError: 'float' object is not callable

### 練習5

クジのデータが200個あります．このクジの当たる確率を求めてください．

In [93]:
kuji = ['はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'あたり', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'はずれ', 'あたり', 'はずれ', 'はずれ']

atari = 0
for i in kuji:
  if 'あたり' in i:
    atari = atari + 1

p = atari / len(kuji)

print(f'このクジの当たる確率は{p}です．')

このクジの当たる確率は0.11です．

### 練習6
以下のプログラムを改変して 0から4までの整数の二乗を要素とする新しいリストsquaresを、リスト内包表記を使って作成してください。

In [94]:
squares = [i**2 for i in range(5)]

print(squares)

[0, 1, 4, 9, 16]

### 練習7

データの性質を表す指標として平均値は代表的なものですが，その他に重要な指標として__分散(variance)__があります．平均の次は，分散を求めてみることにしましょう．
分散は以下の式で定義されます．

$$
v = \frac{1}{n} \sum_{i=1}^{n} (x_i - \bar{x})^2
$$

ここで， $n$ はデータの数，$x_i$ は$i$番目のデータ，$\bar{x}$ はデータの平均値です． $\sum$ は初めてみる人もいるかもしれませんが，単に数字の列の和を計算することを短く表現するための記号と思ってください．

$$
\sum_{i=1}^{n} a_i = a_1 + a_2 + a_3 + ... + a_n
$$

ということなので，分散の式も $\sum$ を使わずにばらしてしまえば，

$$
v = \frac{1}{n} \{(x_1 - \bar{x})^2 + (x_2 - \bar{x})^2 + (x_3 - \bar{x})^2 + ... + (x_n - \bar{x})^2\}
$$

ということです．この足し算の中の各項は，例えば，３番の場合，以下のように書くことができます．

i = 3
(answer[i] - heikin)**2

各要素の値が平均からどれくらい離れているのか，を差をとって二乗することによって評価しているということですね．（２乗は ```**2``` で計算できることを覚えていますか？）

各データの値の平均からの離れ具合について和をとって，その平均を取るために個数で割ったものが分散ですから，プログラムは for を使って以下のように書けます．

In [97]:
answer = [10, 4, 9, 9, 3, 5, 9, 9, 7, 8, 5, 4, 10, 2, 6, 7, 9, 0, 10, 3, 10, 3, 8, 10, 9, 5, 5, 9, 5, 8]

sum_all = 0
data_num = len(answer)
for i in range(data_num):
    sum_all = sum_all + answer[i]

mean = sum_all / data_num
sum_of_squared = 0
for x in answer:
  sum_of_squared += (x - mean) ** 2

variance = sum_of_squared / data_num
print(f'分散は{variance}です')

分散は7.809999999999999です

## 課題提出

名前：

学籍番号:

感想：

ファイルを保存したら，このファイルをファイルメニューの「.ipynbをダウンロード」からダウンロードし，関大LMSで提出してください．